.header {
  z-index: 1; }
  .header nav .navbar-container .navbar-brand {
    font-family: 'Courgette', cursive;
    font-size: 3rem;
    color: #fff;
    font-size: 2.5rem;
    transition: .3s; }
    .header nav .navbar-container .navbar-brand:hover {
      color: #ee6f07; }
  .header nav .navbar-container .collapse .navbar-nav .dropdown .nav-link {
    font-family: 'poppins', sans-serif;
    font-size: 2rem;
    color: #fff;
    color: #fff;
    transition: .3s; }
    .header nav .navbar-container .collapse .navbar-nav .dropdown .nav-link:hover {
      color: #ee6f07; }
  .header nav .navbar-container .collapse .navbar-nav .dropdown .dropdown-menu {
    min-width: 145px;
    background-color: rgba(35, 33, 33, 0.73); }
    .header nav .navbar-container .collapse .navbar-nav .dropdown .dropdown-menu li > a {
      font-family: 'poppins', sans-serif;
      font-size: 1.7rem;
      font-weight: 500;
      color: #fff;
      transition: .3s; }
      .header nav .navbar-container .collapse .navbar-nav .dropdown .dropdown-menu li > a:hover {
        color: #ff3401; }
  .header nav .navbar-container .collapse .navbar-nav .socialmedia-box {
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; }
    .header nav .navbar-container .collapse .navbar-nav .socialmedia-box a > i {
      color: #fff;
      transition: .3s;
      font-size: 1.5rem;
      align-self: end; }
      .header nav .navbar-container .collapse .navbar-nav .socialmedia-box a > i:hover {
        color: #ff3401;
        transform: scale(1.5); }
  .header nav .navbar-container .collapse form button {
    color: #ee6f07;
    border: 1px solid #ee6f07;
    transition: .3s; }
    .header nav .navbar-container .collapse form button:hover {
      color: #ff3401;
      border: 1px solid #ff3401; }

.body__index {
  width: 100%;
  height: 100vh;
  background-color: #757575;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(230,663,313)'%3E%3Cstop offset='0' stop-color='%23757575'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='533' height='444.2' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; }
  .body__index .grid__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.5rem 1fr 3.5rem;
    grid-template-areas: "header" "main" "footer"; }
    .body__index .grid__container .header {
      grid-area: header; }
    .body__index .grid__container .main__container {
      grid-area: main; }
      .body__index .grid__container .main__container-row2 {
        justify-content: space-between;
        align-content: center;
        margin: 1rem auto; }
        @media screen and (max-width: 576px) {
          .body__index .grid__container .main__container-row2 {
            flex-direction: column; } }
        .body__index .grid__container .main__container-row2 .img-box-1, .body__index .grid__container .main__container-row2 .img-box-2, .body__index .grid__container .main__container-row2 .img-box-3 {
          transition: .3s;
          margin: 1rem 0; }
          .body__index .grid__container .main__container-row2 .img-box-1:hover, .body__index .grid__container .main__container-row2 .img-box-2:hover, .body__index .grid__container .main__container-row2 .img-box-3:hover {
            opacity: 0.7;
            transform: scale(1.1); }
          .body__index .grid__container .main__container-row2 .img-box-1:hover::after, .body__index .grid__container .main__container-row2 .img-box-2:hover::after, .body__index .grid__container .main__container-row2 .img-box-3:hover::after {
            content: 'Apparel Section';
            font-family: 'Potta One', cursive;
            font-size: 3rem;
            color: #fff;
            position: absolute;
            left: 8.5vw;
            opacity: 1; }
        .body__index .grid__container .main__container-row2 .img-box-2:hover::after {
          content: 'Contact Us'; }
        .body__index .grid__container .main__container-row2 .img-box-3:hover::after {
          content: 'Artists Section'; }

.carousel {
  margin-top: 1rem;
  z-index: 0; }
  .carousel .carousel-inner {
    max-height: 600px; }
    .carousel .carousel-inner .carousel-item {
      max-height: 600px; }
      .carousel .carousel-inner .carousel-item .carousel-caption h5 {
        font-family: 'Courgette', cursive;
        font-size: 3rem;
        color: #fff;
        color: #ee6f07;
        font-size: 3rem; }
      .carousel .carousel-inner .carousel-item .carousel-caption p {
        font-family: 'poppins', sans-serif;
        font-size: 2rem;
        color: #fff;
        color: #fff;
        font-size: 2.5rem; }

.carousel {
  background-color: #757575;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(230,663,313)'%3E%3Cstop offset='0' stop-color='%23757575'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='533' height='444.2' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; }
  .carousel .carousel-inner {
    min-height: 600px; }
    .carousel .carousel-inner .carousel-heading-box h4 {
      font-family: 'Courgette', cursive;
      font-size: 3rem;
      color: #fff;
      color: #ee6f07;
      transition: .3s; }
      .carousel .carousel-inner .carousel-heading-box h4:hover {
        color: #ff3401; }
    .carousel .carousel-inner .carousel-item .carousel-card-container {
      display: flex;
      justify-content: space-evenly; }
      .carousel .carousel-inner .carousel-item .carousel-card-container .card {
        background-color: transparent;
        border: 1px solid rgba(35, 33, 33, 0.73); }
        .carousel .carousel-inner .carousel-item .carousel-card-container .card .card-body {
          color: #fff;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-content: center; }
          .carousel .carousel-inner .carousel-item .carousel-card-container .card .card-body p {
            font-family: 'poppins', sans-serif;
            font-size: 2rem;
            color: #fff;
            font-size: 2rem;
            color: #ee6f07; }
          .carousel .carousel-inner .carousel-item .carousel-card-container .card .card-body .accordion {
            background-color: rgba(35, 33, 33, 0.73);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: center;
            margin-bottom: 5rem; }
            .carousel .carousel-inner .carousel-item .carousel-card-container .card .card-body .accordion .accordion-item {
              background-color: rgba(35, 33, 33, 0.73);
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-content: center; }
              .carousel .carousel-inner .carousel-item .carousel-card-container .card .card-body .accordion .accordion-item h2 {
                align-self: center; }
                .carousel .carousel-inner .carousel-item .carousel-card-container .card .card-body .accordion .accordion-item h2 .accordion-button {
                  background-color: rgba(35, 33, 33, 0.73);
                  color: #ee6f07;
                  font-size: 1.5rem; }
            .carousel .carousel-inner .carousel-item .carousel-card-container .card .card-body .accordion .accordion-body {
              color: #fff;
              font-size: 1.3rem; }

.body__internal {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23000000' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23131313' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%231f1f1f' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%232b2b2b' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23383838' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23454545' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23535353' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23616161' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23707070' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%237e7e7e' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%238d8d8d' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%239d9d9d' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23adadad' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23bdbdbd' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23cdcdcd' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23dddddd' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23eeeeee' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23FFFFFF' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; }
  .body__internal .grid__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.5rem 1fr 3.5rem;
    grid-template-areas: "header" "main" "footer"; }
    .body__internal .grid__container .header {
      grid-area: header; }
    .body__internal .grid__container .main__container-internal {
      grid-area: main; }
      .body__internal .grid__container .main__container-internal .main__row {
        margin-top: 2rem;
        height: auto; }
        @media screen and (max-width: 515px) {
          .body__internal .grid__container .main__container-internal .main__row {
            max-height: 200px; } }
        .body__internal .grid__container .main__container-internal .main__row .main__banner {
          width: 100%;
          height: 350px; }
          .body__internal .grid__container .main__container-internal .main__row .main__banner img {
            object-fit: cover;
            width: 100%;
            max-height: 350px;
            border-radius: 5px; }
          .body__internal .grid__container .main__container-internal .main__row .main__banner h1 {
            font-family: 'Courgette', cursive;
            font-size: 3rem;
            color: #fff;
            position: absolute;
            color: #ee6f07;
            font-size: 5rem;
            transition: .4s;
            margin: 0 1rem; }
            .body__internal .grid__container .main__container-internal .main__row .main__banner h1:hover {
              color: #fff; }
      .body__internal .grid__container .main__container-internal .main__row2 {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 600px);
        grid-gap: 5px; }
        @media screen and (max-width: 992px) {
          .body__internal .grid__container .main__container-internal .main__row2 {
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap; } }
        .body__internal .grid__container .main__container-internal .main__row2 .card {
          background-color: rgba(35, 33, 33, 0.73);
          color: #fff;
          justify-self: center; }
          .body__internal .grid__container .main__container-internal .main__row2 .card .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: center; }
            .body__internal .grid__container .main__container-internal .main__row2 .card .card-body h5 {
              font-family: 'courgette', cursive;
              font-size: 2rem; }
            .body__internal .grid__container .main__container-internal .main__row2 .card .card-body p {
              font-family: 'poppins', sans-serif;
              font-size: 2rem;
              color: #fff; }
            .body__internal .grid__container .main__container-internal .main__row2 .card .card-body ul li {
              font-size: 1.5rem;
              color: rgba(246, 239, 239, 0.815); }
            .body__internal .grid__container .main__container-internal .main__row2 .card .card-body a {
              font-size: 1.5rem;
              color: #ee6f07;
              transition: .3s; }
              .body__internal .grid__container .main__container-internal .main__row2 .card .card-body a:hover {
                color: #fff;
                background-color: #ee6f07; }
    .body__internal .grid__container .footer {
      grid-area: footer; }

.footer {
  background-image: url(../assets/texture2.png);
  opacity: 0.8;
  min-height: 150px;
  width: 100%; }
  .footer p {
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-size: 2rem;
    color: #fff; }
  .footer .logo-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
    transition: .3s; }
    .footer .logo-container:hover {
      transform: scale(1.1);
      color: #ff3401; }
    .footer .logo-container a {
      color: #fff;
      font-family: 'poppins', sans-serif;
      font-size: 2rem;
      color: #fff;
      transition: .3s; }
      .footer .logo-container a:hover {
        color: #ff3401; }
    .footer .logo-container .logo-box img {
      border-radius: 50%;
      width: 45%; }
  .footer .nav .nav-item .nav-link {
    font-family: 'poppins', sans-serif;
    font-size: 2rem;
    color: #fff;
    transition: .3s; }
    .footer .nav .nav-item .nav-link:hover {
      border-bottom: 2px solid #fff; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none;
  color: #000; }

li {
  list-style-type: none;
  list-style: none; }
