.carousel {
    background-color: map-get($index-bg, background-color);
    background-image: map-get($index-bg, background-image);
    background-attachment: map-get($index-bg, background-attachment);
    background-size: map-get($index-bg, background-size);

    .carousel-inner {
        .carousel-heading-box {
            h4 {
                @include TitleText;
                color: $TextColor;

                //&:hover {
                    color: $PrimaryColor;
                    transform: scale(1.1);
                //}
            }

        }

        .carousel-item {
            .carousel-card-container {
                display: flex;
                justify-content: space-evenly;

                .card {
                    background-color: transparent;
                    border: 1px solid $RgbaFilter;

                    .card-body {
                        color: $TextColor;
                        @include SuperCenterY;
                        p {
                            @include SecondaryText;
                            font-size: 2rem;
                            color: $PrimaryColor;
                        }
                        .carousel-btn-container:hover + .carousel-list-container {
                            display: block;
                            //Resolver como dejar :active funcionando
                            .deluxe-btn {
                            transition: .3s;
                            font-size: 1.5rem;
                            display: block;
                                &:hover {
                                    transform: scale(1.07);
                                    color: $PrimaryColor;
                                }
                            }
                        }
                        .carousel-list-container {
                            @include SecondaryText;
                            font-size: 2rem;
                            display: none;
                        }
                    }
                }


            }

        }
    }
}