.carousel {
    min-width: 100%;
    margin: 1rem auto;
    background-color: map-get($index-bg, background-color);
    background-image: map-get($index-bg, background-image);
    background-attachment: map-get($index-bg, background-attachment);
    background-size: map-get($index-bg, background-size);
    @media screen and (max-width: 600px) {
        max-height: 900px;
    }
    .carousel-inner {
        min-width: 100%;
        
        .carousel-heading-box {
            h4 {
                @include TitleText;
                color: $PrimaryColor;
                transition: .3s;
                &::after {
                    color: $SecondaryColor;
                    content: '♫';
                }
            }

        }

        .carousel-item {
            .carousel-card-container {
                @include SuperCenter;
                
                .card {
                    background-color: transparent;
                    border: none;
                    padding: 0.5rem;
                    max-width: 50%;
                    img {
                        object-fit: contain;
                    }
                    .card-body {
                        color: $TextColor;
                        @include SuperCenterY;

                        p {
                            @include SecondaryText;
                            font-size: 2rem;
                            color: $PrimaryColor;
                            transition: .3s;
                            &:hover {
                                color: $TextColor;
                            }
                            @media screen and (max-width: 600px) {
                                font-size: 1.3rem;
                            }
                        }

                        .accordion {
                            background-color: $RgbaFilter;
                            @include SuperCenterY;
                            margin-bottom: 5rem;
                            .accordion-item {
                                background-color: $RgbaFilter;
                                @include SuperCenterY;
                                
                                h2 {
                                    align-self: center;
                                    
                                    .accordion-button {
                                        background-color: $RgbaFilter;
                                        color: $PrimaryColor;
                                        font-size: 1.5rem;
                                        &:hover {
                                            color: $TextColor;
                                        }
                                    }
                                }
                            }
                            .accordion-body {
                                color: $TextColor;
                                font-size: 1.2rem;
                                @media screen and (max-width: 500px) {
                                    font-size: 0.8rem;
                                }
                            }
                        }
                    }
                }


            }

        }
    }
}