.carousel {
    width: 100%;
    margin-top: 2rem;
    z-index: 0;
    
    .carousel-inner {
        width: 100%;
        .carousel-item {
            img {
                min-height: 100vh;
                @media screen and (max-width: 768px) {
                    min-height: 50vh;
                }
            }
            .carousel-caption {
                h5 {
                    @include SecondaryText; 
                    color: $PrimaryColor;
                    font-size: 3rem;
                    font-weight: 600;
                    @media screen and (max-width: 576px) {
                        font-size: 1.8rem;
                    }
                }

                
                p {
                    @include SecondaryText;
                    color: $TextColor;
                    font-size: 2.5rem;
                    @media screen and (max-width: 576px) {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}