.header {
    z-index: 1;
    nav {
        .navbar-container {
            .navbar-brand {
                @include TitleText;
                font-size: 2.5rem;
                transition: .3s;
                &:hover {
                    color: $PrimaryColor;
                }
            }
            .collapse {
                
                .navbar-nav {
                    
                    .dropdown {
                        
                        .nav-link {
                            @include SecondaryText;
                            color: $TextColor;
                            transition: .3s;
                            &:hover {
                                color: $PrimaryColor;
                            }
                        }
                        .dropdown-menu {
                            min-width: 145px;
                            background-color: $RgbaFilter;
                            
                            
                            li>a {
                                font-family: 'poppins', sans-serif;
                                font-size: 1.7rem;
                                font-weight: 500;
                                color: $TextColor;
                                transition: .3s;
                                &:hover {
                                    color: $SecondaryColor;
                                }
                            }
                        }
                    }
                    .socialmedia-box {
                        min-height: 30px;
                        @include SuperCenter;
                        align-items: center;
                        a > i {
                            color: $TextColor;
                            transition :.3s;
                            font-size: 1.5rem;
                            align-self: end;
                            &:hover {
                                color: $SecondaryColor;
                                transform: scale(1.5);
                            }
                        }
                    }
                }
                form {
                    button {
                        color: $PrimaryColor;
                        border: 1px solid $PrimaryColor;
                        transition: .3s;
                        &:hover {
                            color: $SecondaryColor;
                            border: 1px solid $SecondaryColor;
                        }
                    }
                }
            }
        }
    }
}