.body__internal {
    width: 100%;
    height: 100vh;
    background-color: map-get($internal-bg, background-color);
    background-image: map-get($internal-bg, background-image);
    background-attachment: map-get($internal-bg, background-attachment);
    background-size: map-get($internal-bg, background-size);

    .grid__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3.5rem 1fr 3.5rem;
        grid-template-areas: "header"
            "main"
            "footer";

        .header {
            grid-area: header;
        }

        .main__container-internal {
            grid-area: main;

            .main__row {
                margin-top: 2rem;
                height: auto;

                @media screen and (max-width: 515px) {
                    max-height: 200px;
                }

                .main__banner {
                    width: 100%;
                    height: 350px;

                    img {
                        object-fit: cover;
                        width: 100%;
                        max-height: 350px;
                        border-radius: 5px;
                    }

                    p {
                        @include TitleText;
                        position: absolute;
                        color: $PrimaryColor;
                        font-size: 5rem;
                        transition: .4s;

                        &:hover {
                            color: $TextColor;
                        }
                    }
                }
            }

            .main__row2 {
                width: calc(100% - 1rem);
                height: auto;

                .main__Cardcol {
                    justify-content: space-around;
                    align-content: center;
                    flex-wrap: wrap;

                    .card {
                        background-color: $RgbaFilter;
                        color: $TextColor;

                        .card-body {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-content: center;

                            h5 {
                                font-family: 'courgette', cursive;
                                font-size: 2rem;
                            }

                            p {
                                @include SecondaryText;
                            }

                            ul {
                                li {
                                    font-size: 1.5rem;
                                    color: rgba(246, 239, 239, 0.815);
                                }
                            }

                            a {
                                font-size: 1.5rem;
                                color: $PrimaryColor;
                                transition: .3s;

                                &:hover {
                                    color: $TextColor;
                                    background-color: $PrimaryColor;
                                }
                            }
                        }
                    }
                }
            }
        }

        .footer {
            grid-area: footer;
        }
    }
}